*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --color-text: #fff;
    --color-bg: #222;
    --color-link: #d1e6e7;
    --color-link-hover: #fff;
    --background-base: #314755; /* fallback for old browsers */
    --background-webkit-gradient: -webkit-linear-gradient(
        to bottom,
        #26a0da,
        #314755
    ); /* Chrome 10-25, Safari 5.1-6 */
    --background-gradient: linear-gradient(
        to bottom,
        #26a0da,
        #314755
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    margin: 0;
    color: var(--color-text);
    /* background: var(--background-base);
    background: var(--background-webkit-gradient);
    background: var(--background-gradient); */
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 400;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(0.5, 0.5, 1);
    }
}

main {
    height: 80vh;
    padding: 10vh 5vw;
}

.ascii {
    color: var(--color-link);
    opacity: 0.5;
    position: fixed;
    right: 0;
    top: -1rem;
    pointer-events: none;
}

/* .content {
} */

.splitting .words .word {
    white-space: nowrap;
}

@media screen and (min-width: 53em) {
    .content {
        grid-template-columns: 15ch 1fr;
    }
    .sub-content {
        grid-template-columns: 15ch 1fr;
    }
}

.coords {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
