:host {
    display: block;
    width: 100%;
    height: 300px;
    margin: 3rem 0;
    position: relative;
}

:host #wind-direction {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 250px;
    height: 250px;
    line-height: 250px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.2rem;
    text-indent: 5rem;
    color: #fff9;
    box-shadow: 5px -10px 25px -1px #fff3, -5px 10px 35px -1px #0005,
        5px -10px 15px -1px #fff3 inset, -5px 10px 15px -1px #0005 inset;
}

:host #wind-direction::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 2px -5px 5px -1px #fff1, -2px 2px 5px -1px #000,
        1px 1px 1px 1px #fff1 inset;
}

:host #wind-direction::after {
    content: '';
    position: absolute;
    line-height: 0;
    font-size: 1.2rem;
    text-indent: 2rem;
    left: 50%;
    top: 50%;
    width: 40%;
    height: 2px;
    box-shadow: 5px -10px 15px -1px #fff, -5px 10px 15px -1px #000,
        1px 1px 1px 1px #fff5 inset;
}

:host nav {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
}

:host nav small {
    display: block;
    position: absolute;
    line-height: 0;
    opacity: 0.2;
    font-size: 1rem;
    font-weight: 700;
    text-indent: -0.25em;
}

:host .n {
    left: 50%;
    top: 10%;
}

:host .ne {
    display: none;
}

:host .e {
    left: 90%;
    top: 50%;
}

:host .se {
    display: none;
}

:host .s {
    left: 50%;
    top: 90%;
}

:host .sw {
    display: none;
}

:host .w {
    left: 10%;
    top: 50%;
}

:host .nw {
    display: none;
}

:host .label {
    left: 52%;
    top: 70%;
    transform: translate(-50%, -50%);
}
